body{
background:#1e1e2f;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

body.light{
background:#f4f4f4;
color:black;
}

.container{
text-align:center;
}

.title{
margin-bottom:15px;
}

.controls{
margin-bottom:15px;
}

.controls button{
margin:5px;
padding:8px 12px;
cursor:pointer;
}

.main{
display:flex;
gap:30px;
}

.calculator{
background:#2d2d44;
padding:20px;
border-radius:15px;
width:320px;
}

body.light .calculator{
background:white;
}

#display{
width:100%;
height:60px;
font-size:24px;
text-align:right;
margin-bottom:15px;
padding:10px;
border:none;
border-radius:8px;
background:black;
color:white;
}

body.light #display{
background:white;
color:black;
border:1px solid gray;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:60px;
font-size:18px;
border:none;
border-radius:10px;
background:#4e4e6a;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
transform:scale(1.05);
}

body.light button{
background:#ddd;
color:black;
}

.equal{
grid-row:span 2;
background:#ff7b00;
}

.zero{
grid-column:span 2;
}

.history{
background:#2d2d44;
padding:15px;
border-radius:15px;
width:200px;
max-height:350px;
overflow:auto;
}

body.light .history{
background:white;
border:1px solid gray;
}

.history ul{
list-style:none;
padding:0;
}

.history li{
padding:5px;
border-bottom:1px solid gray;
}